/*
    =========== 11. Drop Downs ===========
*/
.select-wrapper{
    font-size:12px;
    height: 28px;
    font-weight:normal;
    color:#2f6fa9;
    position:relative;
	font-weight: bolder;
}
.dj_safari .select-wrapper{
    height:29px;
}
	.select-wrapper select{
    	height:0;
    }
    .select-wrapper .select-options{
        position:absolute;
        top:0px;
        display:none;
        left:0px;
    }

        .select-wrapper ul,
        .select-wrapper ul.select-ul,
        #main .select-wrapper ul,
        #main .select-wrapper ul.select-ul{
        	width:100%;
			background:white;
			overflow-y:auto;
			overflow-x:hidden;
    		margin:0px;
    		list-style:none;
        }
        .select-wrapper .select-small ul,
        .select-wrapper .select-small ul.select-ul{
            background:#ebebeb;
        }
        .select-wrapper li,
        .select-wrapper li.select-li{
                width:100%;
                height:auto;
                white-space:normal;
            }
                .select-wrapper li a{
                    display:block;
                    line-height:12px;
                    padding:5px 10px;
					text-decoration:none;
                }
                .dj_ie6 .select-wrapper li a{
                    text-decoration:none !important;
                }
				.select-wrapper li a.selected{
                    color:white;
                    background-color:#2f6fA9;
					text-decoration:none;
                }
                .select-wrapper li a:focus,
                .select-wrapper li a:hover,
                #main-inner .select-wrapper li a:focus,
                #main-inner .select-wrapper li a:hover{
           			color:white;
                    background-color:#2f6fA9;
                    text-decoration:none;
                }                
                .select-wrapper li.disabled a:focus,
                .select-wrapper li.disabled a:hover{
                	background-color:#fff;
                	cursor:default;
                }
                .select-wrapper .select-small li a{
                    color:#656565;
                    font-size:11px;
                    background-color:#ebebeb;
                }
                .select-wrapper .select-small li a.selected{
                    color:white;
                    background-color:#2f6fA9;
                }
                .select-wrapper .select-small li a:focus,
                .select-wrapper .select-small li a:hover{
                    color:white;
                    background-color:#2f6fA9;
                }
                .select-wrapper .select-small li.disabled a:focus,
                .select-wrapper .select-small li.disabled a:hover{
                	background-color:#fff;
                	cursor:default;
                }
                

    .select-wrapper .select-current{
        height:28px;
        line-height:28px;
        background:transparent url(../images/dd_sprite.gif) no-repeat -20px 0px;
        cursor:pointer;
    }
	
	 .select-wrapper .disabled .select-current{
		cursor:default;
	}
        .select-current .select-current-text{
            height:28px;
            line-height:28px;
            background:transparent url(../images/dd_sprite.gif) no-repeat right -61px;
            display:block;
            margin-left:6px;
        }
    .select-wrapper .select-small .select-current{
        height:19px;
        line-height:19px;
        background-position:-20px -150px;
    }
        .select-small .select-current .select-current-text{
            height:19px;
            line-height:19px;
            background-position:right -169px;
            text-indent:3px;
            /*text-transform:uppercase;*/
            font-size:9px;
        }
	        .select-small .select-current span.secondary{
	        	color:gray;
	        }
	.select-wrapper div.select-current.focus{
        background-position:-20px -30px;
    }
        div.focus .select-current-text{
            background-position:right -91px;
        }
    .select-wrapper .select-small div.select-current.focus{
        background-position:-20px -188px;
    }
        .select-small div.focus .select-current-text{
            background-position:right -207px;
        }

    .select-wrapper .select-frame{
        position:relative;
        display:none;
        top:-48px;
        left:-20px;
        overflow:hidden;
        background:transparent;
    }
    .select-wrapper .select-small .select-frame{
        top:-39px;
    }
    .select-frame div{
            position:absolute;
            overflow:hidden;
        }

.select-wrapper .hide-fromsighted{
    top:0px;
    left:-350px;
}
    
.select-frame-inner-border{
    background:transparent url(../images/blank.gif) repeat;
}
.select-frame-inner-top{
    height:20px;
    width:100%;
    top:0px;
    left:0px;
}
.select-frame-inner-bottom{
    bottom:0px;
    left:0px;
    height:20px;
    width:100%;
}
.select-frame-inner-left{
    top:0px;
    left:0px;
    height:100%;
    width:20px;
}
.select-frame-inner-right{
    top:0px;
    right:0px;
    height:100%;
    width:20px;
}

        
        .select-frame .select-frame-inner{
            position:relative;
            top:20px;
            left:20px;
        }
        .select-frame .select-tl,
        .select-frame .select-tr,
        .select-frame .select-bl,
        .select-frame .select-br,
        .select-frame .select-t,
        .select-frame .select-b,
        .select-frame .select-r,
        .select-frame .select-l{
            background:transparent url(../images/dd_sprite.gif) no-repeat;
        }
		.select-frame .select-tl,
        .select-frame .select-tr,
        .select-frame .select-bl,
        .select-frame .select-br{
            height:5px;
            width:5px;            
        }
        .select-frame .select-tl,
        .select-frame .select-tr{
            top:0px;
        }

        .select-frame .select-tl{
            background-position:-20px -120px;
            left:0px;
        }
        .select-frame .select-tr{
            background-position:-25px -120px;
            right:0px;
        }
        .select-frame .select-bl,
        .select-frame .select-br{
            bottom:0px;
        }
        .select-frame .select-bl{
            background-position:-20px -125px;
            left:0px;
        }
        .select-frame .select-br{
            background-position:-25px -125px;
            right:0px;
        }

        .select-frame .select-t,
        .select-frame .select-b{
            left:5px;
            height:5px;
            background-repeat:repeat-x;
        }
        .select-frame .select-t{
            background-position:-20px -130px;
            top:0px;
        }
        .select-frame .select-b{
            background-position:-20px -135px;
            bottom:0px;
        }

        .select-frame .select-r,
        .select-frame .select-l{
            top:5px;
            width:5px;
            background-repeat:repeat-y;
        }
        .select-frame .select-l{
            background-position:0px 0px;
            left:0px;
        }
        .select-frame .select-r{
            background-position:-5px 0px;
            right:0px;
        }

        .select-frame .select-inner{
            margin:5px 1px;
        }



        .select-small .select-frame .select-tl{
            background-position:-30px -120px;
        }
        .select-small .select-frame .select-tr{
            background-position:-35px -120px;
        }
        .select-small .select-frame .select-bl{
            background-position:-30px -125px;
        }
        	
        .select-small .select-frame .select-br{
            background-position:-35px -125px;
        }
        
        .select-small .select-frame .select-t{
            background-position:-20px -140px;
        }
        .select-small .select-frame .select-b{
            background-position:-20px -145px;
        }
        .select-small .select-frame .select-l{
            background-position:-10px 0px;
        }
        .select-small .select-frame .select-r{
            background-position:-15px 0px;
        }
.dj_webkit .select-wrapper .select-current{margin-top: 0px;}
.dj_safari .select-wrapper .select-current{margin-top: 0px;}