/*

TITLE: CYBERSOURCE CUSTOM CSS ELEMENTS
DATE: 13/03/2012
REVISION: 19/03/2012
CODE: TP



CONTENTS
========

1.0 - GLOBAL STYLES
2.0 - TYPOGRAPHY
3.0 - PAGE LAYOUT


DEFAULT COLOURS
===============

TEXT:		#4D5357
BODY BG:	#F5F5F5
HEADER BG: 	#003C69
FOOTER BG:  #003C69
COLUMN BG:	#FFFFFF


*/

/*------------------------ 1.0 GLOBAL STYLES ------------------------*/

body {
    background-color: #F5F5F5;
    color: #4D5357;
}

/*------------------------ 2.0 TYPOGRAPHY ------------------------ */
body, input, textarea, .chzn-single, .chzn-results{
    font-family: Arial;
}

h2 {
    font-size: 1.6em;
}

h3 {
    font-size: 1.5em;
}

p {
    font-size: 1.2em;
}

label {
    font-size: 15px;
}

#footer p {
    color: #5f8aaa;
}

input, textarea {
    background-color: #f9f9f9;
}

/*------------------------ 3.0 PAGE LAYOUT ------------------------ */

#header {
    background: #003C69;
    display: none;
}

.left_column, .right_column, .review_container {
    background-color: #fff;
}

#footer {
    background: #003C69;
    display: none;
}

#notification_logo {
    display: none;
}

#mobile, .totalamount {
    background-color: #EDF9EC;
    color: #4D5357;
}

.ui-widget-header {
    background: #EDF9EC;
    color: #4D5357;
}

.ui-widget {
    font-family: Arial;
}

.ui-widget button {
    font-family: Arial;
}

.progressbar .completed,
.progressbar .current {
    background: #88D47E;
}

.progressbar .completed {
    color:  #58AE4C;
}

/*------------------------- PAY BUTTON ----------------------------*/

input.complete {
    color: #FFFFFF;
    text-shadow: none;
    background: #448944; /* W3C */
}

input.complete:hover {
    color: #FFFFFF;
    background: #2f5f2f; /* W3C */
}

input.complete:focus {
    color: #FFFFFF;
    background: #61c361; /* W3C */
}
